<%= nested_form_for @model, :url=>'/articles/new' do |f| %>

    <div class="form-group">
      <label for="articles_title">Заголовок</label>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <label for="articles_title">Краткое описание</label>
      <%= f.text_area :short_text, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <label for="articles_title">Полное описание</label>
      <%= f.text_area :full_text, :class => 'form-control' %>
    </div>

    <table id="tags">
      <%= f.fields_for :tags, :wrapper => false do |tags_form| %>
          <tr class="fields">
            <td><%= tags_form.text_field :name %></td>
            <td><%= tags_form.link_to_remove "Remove this task" %></td>
          </tr>
      <% end %>

      <p><%= f.link_to_add "Add a task", :tags, :data => { :target => "#tags" } %></p>
    </table>

    <input type="submit" class="btn btn-default" value="Сохранить">
<% end %>
