<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= javascript_include_tag "nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Блог</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Статьи</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if user_signed_in? %>
          <li>
                <%= link_to 'Профиль', edit_user_registration_path, :class => 'navbar-link' %>
          </li>
          <% end %>
          <li>
            <% if user_signed_in? %>
                <%= link_to "Выход", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
                <%= link_to "Вход", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header>
<div class="container">
  <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
